<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AnjiRestTestSuite" parallel="methods" thread-count="1">
	<listeners>
		<listener
			class-name="com.anji.framework.commons.listeners.TestManagerListener"></listener>
		<listener
			class-name="com.anji.framework.commons.listeners.SummaryReportListener"></listener>
	</listeners>
	<test name="AnjiRestTest">

		<packages>
			<package name="com.anji.test"></package>
		</packages>

	</test>
</suite>